html {
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

p {
  color: #773535;
}
h2 {
  color: #e76f51;
}
section {
  background: #e9c46a;
}
article {
  background: #e9c46a;
}
body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,45,101,1) 35%, rgba(0,212,255,1) 100%);
}
a {
  color: #2a9d8f;
}
footer {
  color: #2a9d8f;
  text-align: center;
}

.head-2 {
  color: #e76f51;
  font-variant: small-caps;
}

.navigation {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  background: #773535;
  border-radius: 20px;
  height: 50px;
}

.navigation__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  /* position: relative; */
  top: 30%;
  /* margin: 20px; */
  width: 120px;
  box-sizing: border-box;
}

.notes {
  display: inline-block;
  width: 300px;
  border-radius: 20px;
  margin-right: 20px;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.main-header {
  text-align: center;
  }

.main-header__logo {
  float: left;
  width: 40px;
  height: 40px;
}

.main-header__text {
  text-align: left;
  color: #2a9d8f;
  font-variant: small-caps;
  position: relative;
  top: 2px;
  left: 10px;
}

.main-header__text--title {
  display: inline-block;
  box-sizing: border-box;
}