h1 {
  color: #2a9d8f;
}
p {
  color: #773535;
}
h2 {
  color: #e76f51;
}
body {
  background: #fefefe;
}
section {
  background: #e9c46a;
}
article {
  background: #e9c46a;
}
body {
  background: #264653;
}
a {
  color: #2a9d8f;
}
footer {
  color: #2a9d8f;
}

.head-1 {
  color: white;
}

.head-2 {
  color: #e76f51;
  font-variant: small-caps;
}

.main-header-logo img {
  float: left;
  width: 40px;
  height: 40px;
}

.main-header-logo h1 {
  color: #2a9d8f;
  font-variant: small-caps;
  position: relative;
  top: 2px;
  left: 10px;
}

.navigation {
  background: #773535;
  border-radius: 20px;
  height: 100px;
  /* display: inline; */

  /* position: relative; */
}

.navigation__link {
  text-decoration: none;
  /* display: inline-block; */
  position: relative;
  top: 45%;
  margin: 20px;
  height:120px;
  width: 120px;
  box-sizing: border-box;
}
